/* 
    * :is()
    - CSS :is() pseudo-class selector takes a selector list as an argument and selects any element that can be selected by one of the selectors in that list.
*/

/* --- Basic Syntax ---  */
/* header :is(h1, h2, h3) {
  color: red;
} */

/* --- SKIPPING ERROR ---  */
/* header :is(h1, sh2, h3) {
  color: red;
} */

/* --- EXAMPLE 2 ---  */
/* .container .first,
.container .second {
  color: blue;
} */

/* :is(.first, .second) {
  color: steelblue;
} */

/* --- EXAMPLE 3 ---  */
/* section h1,
section h2,
section h3,
section h4,
section h5,
section h6,
article h1,
article h2,
article h3,
article h4,
article h5,
article h6,
aside h1,
aside h2,
aside h3,
aside h4,
aside h5,
aside h6,
nav h1,
nav h2,
nav h3,
nav h4,
nav h5,
nav h6 {
  color: #bada55;
} */

/* INSTEAD WE CAN USE :is()  */
/* :is(section, article, aside, nav) :is(h1, h2, h3, h4, h5, h6) {
  color: #bada55;
} */
